body {
  margin-left: 5rem;
  margin-right: 5rem;
  font-family: sans-serif;
}

#main-div-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar-logo{
  margin-left: 20px;
}

#sidebar {
  width: 350px;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  border-right: 4px solid #dadada;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

#sidebar li a {
  font-size: 18px;
  display: block;
  color: black;
  padding: 12px 32px;
  text-decoration: none;
  font-weight: 500;
}

#sidebar li a.active {
  background-color: white;
  color: #007196;
  border-radius: 4px;
}

#sidebar li a:hover:not(.active) {
  background-color: white;
  color: #007196;
}

#sidebar .dropdown-content {
  display: none;
  padding-left: 24px;
}

#sidebar .dropbtn i {
  margin-right: 8px;
}

#sidebar .dropdown-content a i {
  margin-right: 8px;
}

#content {
  flex: 1;
  padding: 20px;
  margin-left: 400px;
}

.zoomable-image {
  cursor: zoom-in;
}

.zoomable-image.zoomed {
  cursor: zoom-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.zoomable-image.zoomed img {
  max-width: 90%;
  max-height: 90%;
}

.dropbtn {
  position: relative;
}

.dropbtn i {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-content a.active {
  background-color: #f0f0f0;
}

.dropdown a.active {
  background-color: #f0f0f0;
}
